:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;   /* tıklamaları engellemesin */
  z-index: -1;            /* tüm içerik üstünde olacak */
}
 
.background-image {
  width: 100%;
  height: 100%;
  background-image: url('/assests/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.45;          /* solukluk burada */
  filter: blur(5px);      /* istersen blur verebilirsin */
}