<app-navbar></app-navbar>

<div class="flex h-185 bg-gray-100 p-4 font-inter">
  <app-sidebar></app-sidebar>
  
  <div class="flex-grow bg-white rounded-r-xl shadow-2xl flex relative overflow-hidden">
    <div
      class="absolute inset-0 z-0 opacity-10 bg-no-repeat bg-cover bg-center"
      style="
        background-image: url('https://placehold.co/1200x800/262626/808080?text=Abstract+Background');
      "
    ></div>

    <div class="w-72 h-full p-6 bg-white bg-opacity-90 z-10 shadow-lg border-r border-gray-200 flex flex-col">
      <h2 class="text-xl font-bold mb-6 text-gray-800">SEARCH FILTER</h2>
      <form class="space-y-4 flex-grow flex flex-col justify-between" (ngSubmit)="search()" #searchFormRef="ngForm">
        <div class="space-y-4">
          <div>
            <label class="block text-sm font-medium text-gray-600">Customer ID</label>
            <input
              type="text"
              name="id"
              [(ngModel)]="searchForm.id"
              (ngModelChange)="onChange()"
              [disabled]="disabledFields.id"
              class="w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-orange-500 focus:border-orange-500 disabled:bg-gray-100 disabled:text-gray-500"
            />
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600">NAT ID</label>
            <input
  type="text"
  name="nationalId"
  [(ngModel)]="searchForm.nationalId"
  (ngModelChange)="onChange()"
  [disabled]="disabledFields.nationalId"
  maxlength="11"
  pattern="[0-9]*"
  (keypress)="allowOnlyNumbers($event, 11)"
  class="w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-orange-500 focus:border-orange-500 disabled:bg-gray-100 disabled:text-gray-500"
/>
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600">Account Number</label>
            <input
              type="text"
              name="customerNumber"
              [(ngModel)]="searchForm.accountNumber"
              (ngModelChange)="onChange()"
              [disabled]="disabledFields.accountNumber"
              class="w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-orange-500 focus:border-orange-500 disabled:bg-gray-100 disabled:text-gray-500"
            />
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600">GSM Number</label>
            <input
  type="text"
  name="gsmNumber"
  [(ngModel)]="searchForm.gsmNumber"
  (ngModelChange)="onChange()"
  [disabled]="disabledFields.gsmNumber"
  maxlength="10"
  pattern="[0-9]*"
  (keypress)="allowOnlyNumbers($event, 10)"
  class="w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-orange-500 focus:border-orange-500 disabled:bg-gray-100 disabled:text-gray-500"
/>
          </div>
          
          <div>
            <label class="block text-sm font-medium text-gray-600">First Name</label>
            <input
              type="text"
              name="firstName"
              [(ngModel)]="searchForm.firstName"
              (ngModelChange)="onChange()"
              [disabled]="disabledFields.firstName"
              class="w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-orange-500 focus:border-orange-500 disabled:bg-gray-100 disabled:text-gray-500"
              [ngClass]="{
                'border-red-500':
                  searchFormRef.submitted &&
                  !searchForm.firstName &&
                  !isFieldDisabled &&
                  searchForm.lastName
              }"
            />
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600">Middle Name</label>
            <input
              type="text"
              name="middleName"
              [(ngModel)]="searchForm.middleName"
              (ngModelChange)="onChange()"
              [disabled]="disabledFields.middleName"
              class="w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-orange-500 focus:border-orange-500 disabled:bg-gray-100 disabled:text-gray-500"
            />
          </div>

          <div>
            <label class="block text-sm font-medium text-gray-600">Last Name</label>
            <input
              type="text"
              name="lastName"
              [(ngModel)]="searchForm.lastName"
              (ngModelChange)="onChange()"
              [disabled]="disabledFields.lastName"
              class="w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring-orange-500 focus:border-orange-500 disabled:bg-gray-100 disabled:text-gray-500"
            />
          </div>
        </div>


        <div class="flex justify-between pt-6 mt-auto">
          <button
            type="button"
            (click)="clearSearch()"
            class="px-6 py-2 text-sm font-semibold text-gray-700 bg-gray-300 rounded-lg hover:bg-gray-400 transition duration-150 shadow-md transform hover:scale-[1.02]"
          >
            CLEAR
          </button>
          <button
            type="submit"
            [disabled]="isLoading || !isAnyFieldFilled"
            class="px-6 py-2 text-sm font-semibold text-white bg-orange-500 rounded-lg hover:bg-orange-600 transition duration-150 shadow-lg disabled:opacity-50 disabled:cursor-not-allowed transform hover:scale-[1.02]"
          >
            SEARCH
          </button>
        </div>
      </form>
    </div>

    <div class="flex-grow p-6 z-10 relative flex flex-col h-full">
      <h2 class="text-xl font-bold mb-4 text-gray-800">SEARCH RESULTS</h2>

      <div
        *ngIf="isLoading"
        class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-80 z-20"
      >
        <div
          class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-orange-500"
        ></div>
      </div>

      <div
        *ngIf="!searchResults && !isAnyFieldFilled"
        class="flex flex-col items-center justify-center flex-grow text-center"
      >
        <p class="text-3xl text-gray-600 font-light mb-6">Would you like to create the customer?</p>
        <button
          (click)="goToCreateCustomer()"
          class="px-8 py-3 text-white text-lg font-semibold bg-orange-500 rounded-lg shadow-2xl hover:bg-orange-600 transition duration-300 flex items-center transform hover:scale-105"
        >
          CREATE CUSTOMER
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6 ml-3"
          >
            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M19 8h6" />
            <path d="M22 5v6" />
          </svg>
        </button>
      </div>

      <div
        *ngIf="searchResults && searchResults.length === 0"
        class="flex flex-col items-center justify-center flex-grow text-center"
      >
        <p class="text-4xl text-red-600 font-serif font-bold italic mb-6">No customer found !</p>
        <p class="text-2xl text-gray-600 font-light mb-6">Would you like to create the customer?</p>
        <button
          (click)="goToCreateCustomer()"
          class="px-8 py-3 text-white text-lg font-semibold bg-orange-500 rounded-lg shadow-2xl hover:bg-orange-600 transition duration-300 flex items-center transform hover:scale-105"
        >
          CREATE CUSTOMER
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6 ml-3"
          >
            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
            <circle cx="9" cy="7" r="4" />
            <path d="M19 8h6" />
            <path d="M22 5v6" />
          </svg>
        </button>
      </div>

      <div
        *ngIf="searchResults && searchResults.length > 0"
        class="overflow-x-auto border border-gray-200 rounded-lg shadow-lg flex-grow flex flex-col"
      >
        <div class="relative overflow-y-auto flex-grow">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-100 sticky top-0 z-10">
              <tr>
                <th
                  scope="col"
                  class="px-4 py-3 text-left text-xs font-bold text-gray-600 uppercase tracking-wider"
                >
                  Customer ID
                </th>
                <th
                  scope="col"
                  class="px-4 py-3 text-left text-xs font-bold text-gray-600 uppercase tracking-wider"
                >
                  NAT ID
                </th>
                <th
                  scope="col"
                  class="px-4 py-3 text-left text-xs font-bold text-gray-600 uppercase tracking-wider"
                >
                  Account Number
                </th>
                <th
                  scope="col"
                  class="px-4 py-3 text-left text-xs font-bold text-gray-600 uppercase tracking-wider"
                >
                  GSM Number
                </th>
                <th
                  scope="col"
                  class="px-4 py-3 text-left text-xs font-bold text-gray-600 uppercase tracking-wider"
                >
                  First Name
                </th>
                <th
                  scope="col"
                  class="px-4 py-3 text-left text-xs font-bold text-gray-600 uppercase tracking-wider"
                >
                  Middle Name
                </th>
                <th
                  scope="col"
                  class="px-4 py-3 text-left text-xs font-bold text-gray-600 uppercase tracking-wider"
                >
                  Last Name
                </th>
              </tr>
            </thead>

            <tbody class="bg-white divide-y divide-gray-100">
              <tr
                *ngFor="let customer of searchResults; let i = index"
                class="hover:bg-orange-50  transition duration-100"
              >
                <td
                  class="px-4 py-3 whitespace-nowrap text-sm font-medium text-orange-600 underline cursor-pointer"
                  (click)="goToCustomerInformation(customer.id)"
                >
                  {{ customer.id }}
                </td>
                <td class="px-4 py-3 whitespace-nowrap text-sm text-gray-800">
                  {{ customer.nationalId }}
                </td>
                <td class="px-4 py-3 whitespace-nowrap text-sm text-gray-800">
                  {{ customer.billingAccountList?.[0]?.accountNumber || 'N/A'}}
                </td>
                <td class="px-4 py-3 whitespace-nowrap text-sm text-gray-800">
                  {{ getGsmNumber(customer) }}
                </td>

                <td class="px-4 py-3 whitespace-nowrap text-sm text-gray-800">
                  {{ customer.firstName }}
                </td>
                <td class="px-4 py-3 whitespace-nowrap text-sm text-gray-800">
                  {{ customer.middleName }}
                </td>
                <td class="px-4 py-3 whitespace-nowrap text-sm text-gray-800">
                  {{ customer.lastName }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div class="p-3 bg-white border-t border-gray-200">
            <div class="flex justify-between">
                <button
                    (click)="prevPage()"
                    [disabled]="currentPage === 0 || isLoading"
                    class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400 disabled:opacity-50"
                >
                    Previous
                </button>

                <span class="text-gray-700 font-medium self-center">Page {{ currentPage + 1 }}</span>

                <button
                    (click)="nextPage()"
                    [disabled]="!searchResults || searchResults.length < pageSize || isLoading"
                    class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400 disabled:opacity-50"
                >
                    Next
                </button>
            </div>
            <div
                class="mt-2 text-sm text-gray-500 text-right"
            >
                {{ searchResults.length }}/{{ searchResults.length }}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>