<div class="flex flex-col h-screen bg-gray-100">
  <app-navbar></app-navbar>

  <div class="flex flex-1 overflow-hidden">
    <app-sidebar></app-sidebar>

    <main class="flex-1 overflow-y-auto p-4 md:p-8">
      <div class="max-w-4xl mx-auto rounded-xl overflow-hidden bg-white shadow-xl">
        <div class="flex items-center p-3 md:p-4 bg-gray-200">
          <button
            (click)="goBackToSearch()"
            class="flex items-center text-gray-700 hover:text-gray-900 focus:outline-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 mr-2"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 19l-7-7m0 0l7-7m-7 7h18"
              />
            </svg>
            <span class="text-base font-semibold">Create Customer</span>
          </button>
        </div>

        <div class="flex text-center font-medium bg-orange-500/90 text-white shadow-md">
          <div class="flex-1 py-3 border-b-2 border-amber-300 bg-orange-600/90">Customer Info</div>
          <div class="flex-1 py-3 hover:bg-orange-500/80 cursor-pointer">Address</div>
          <div class="flex-1 py-3 hover:bg-orange-500/80 cursor-pointer">Contact Medium</div>
        </div>

        <div class="p-6 md:p-8">
          <form [formGroup]="form" class="space-y-6">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-6">
              <div>
                <label class="block text-sm font-medium text-gray-700 flex items-center">
                  First Name <span class="text-red-500 ml-1">*</span>
                  <div class="relative group ml-2">
                    <div
                      class="w-4 h-4 rounded-full bg-gray-400 text-white flex items-center justify-center text-xs cursor-help"
                    >
                      i
                    </div>
                    <div
                      class="absolute left-0 top-6 w-48 p-2 bg-gray-800 text-white text-xs rounded shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-10"
                    >
                      First Name must be between 2 and 20 characters.
                    </div>
                  </div>
                </label>
                <input
                  formControlName="firstName"
                  type="text"
                  maxlength="20"
                  class="mt-1 block w-full rounded-md bg-gray-50 border border-gray-300 shadow-inner focus:border-orange-500 focus:ring focus:ring-orange-500/50 sm:text-sm p-2.5 transition ease-in-out duration-150"
                  placeholder=""
                />
              </div>

              <div>
                <label class="block text-sm font-medium text-gray-700 flex items-center">
                  Nat ID <span class="text-red-500 ml-1">*</span>
                  <div class="relative group ml-2">
                    <div
                      class="w-4 h-4 rounded-full bg-gray-400 text-white flex items-center justify-center text-xs cursor-help"
                    >
                      i
                    </div>
                    <div
                      class="absolute left-0 top-6 w-48 p-2 bg-gray-800 text-white text-xs rounded shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-10"
                    >
                      National ID must be 11 digits and contain only numbers.
                    </div>
                  </div>
                </label>
                <input
                  formControlName="nationalId"
                  type="text"
                  class="mt-1 block w-full rounded-md bg-gray-50 border border-gray-300 shadow-inner focus:border-orange-500 focus:ring focus:ring-orange-500/50 sm:text-sm p-2.5 transition ease-in-out duration-150"
                  maxlength="11"
                  
                />
                <p
                  *ngIf="
                    form.get('nationalId')?.hasError('notNumeric') &&
                    form.get('nationalId')?.touched
                  "
                  class="text-red-500 text-sm mt-1"
                >
                  National ID must contain only numbers.
                </p>
                <p *ngIf="nationalIdExists" class="text-red-500 text-sm mt-1">
                  This National ID already exists in the system.
                </p>
              </div>

              <div>
                <label class="block text-sm font-medium text-gray-700 flex items-center">
                  Middle Name
                  <div class="relative group ml-2">
                    <div
                      class="w-4 h-4 rounded-full bg-gray-400 text-white flex items-center justify-center text-xs cursor-help"
                    >
                      i
                    </div>
                    <div
                      class="absolute left-0 top-6 w-48 p-2 bg-gray-800 text-white text-xs rounded shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-10"
                    >
                      Middle Name must be between 2 and 20 characters.
                    </div>
                  </div>
                </label>
                <input
                  formControlName="middleName"
                  type="text"
                  maxlength="20"
                  class="mt-1 block w-full rounded-md bg-gray-50 border border-gray-300 shadow-inner focus:border-orange-500 focus:ring focus:ring-orange-500/50 sm:text-sm p-2.5 transition ease-in-out duration-150"
                  placeholder=""
                />
              </div>

              <div>
                <label class="block text-sm font-medium text-gray-700"
                  >Birth Date <span class="text-red-500">*</span></label
                >
                <div class="relative">
                  <input
                    formControlName="dateOfBirth"
                    type="date"
                    class="mt-1 block w-full rounded-md bg-gray-50 border border-gray-300 shadow-inner focus:border-orange-500 focus:ring focus:ring-orange-500/50 sm:text-sm p-2.5 transition ease-in-out duration-150 pr-10"
                  />
                  <span class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                      />
                    </svg>
                  </span>
                </div>
              </div>

              <div>
                <label class="block text-sm font-medium text-gray-700 flex items-center">
                  Last Name <span class="text-red-500 ml-1">*</span>
                  <div class="relative group ml-2">
                    <div
                      class="w-4 h-4 rounded-full bg-gray-400 text-white flex items-center justify-center text-xs cursor-help"
                    >
                      i
                    </div>
                    <div
                      class="absolute left-0 top-6 w-48 p-2 bg-gray-800 text-white text-xs rounded shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-10"
                    >
                      Last Name must be between 2 and 20 characters.
                    </div>
                  </div>
                </label>
                <input
                  formControlName="lastName"
                  type="text"
                  maxlength="20"
                  class="mt-1 block w-full rounded-md bg-gray-50 border border-gray-300 shadow-inner focus:border-orange-500 focus:ring focus:ring-orange-500/50 sm:text-sm p-2.5 transition ease-in-out duration-150"
                  placeholder=""
                />
              </div>

              <div>
                <label class="block text-sm font-medium text-gray-700 flex items-center">
                  Mother Name
                  <div class="relative group ml-2">
                    <div
                      class="w-4 h-4 rounded-full bg-gray-400 text-white flex items-center justify-center text-xs cursor-help"
                    >
                      i
                    </div>
                    <div
                      class="absolute left-0 top-6 w-48 p-2 bg-gray-800 text-white text-xs rounded shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-10"
                    >
                      Mother Name must be between 2 and 20 characters.
                    </div>
                  </div>
                </label>
                <input
                  formControlName="motherName"
                  type="text"
                  maxlength="20"
                  class="mt-1 block w-full rounded-md bg-gray-50 border border-gray-300 shadow-inner focus:border-orange-500 focus:ring focus:ring-orange-500/50 sm:text-sm p-2.5 transition ease-in-out duration-150"
                  placeholder=""
                />
              </div>

              <div>
                <label class="block text-sm font-medium text-gray-700"
                  >Gender <span class="text-red-500">*</span></label
                >
                <select
                  formControlName="gender"
                  class="mt-1 block w-full rounded-md bg-gray-50 border border-gray-300 shadow-inner focus:border-orange-500 focus:ring focus:ring-orange-500/50 sm:text-sm p-2.5 transition ease-in-out duration-150 appearance-none"
                >
                  <option value="" disabled selected>Select</option>
                  <option value="MALE">Male</option>
                  <option value="FEMALE">Female</option>
                </select>
              </div>

              <div>
                <label class="block text-sm font-medium text-gray-700 flex items-center">
                  Father Name
                  <div class="relative group ml-2">
                    <div
                      class="w-4 h-4 rounded-full bg-gray-400 text-white flex items-center justify-center text-xs cursor-help"
                    >
                      i
                    </div>
                    <div
                      class="absolute left-0 top-6 w-48 p-2 bg-gray-800 text-white text-xs rounded shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-200 z-10"
                    >
                      Father Name must be between 2 and 20 characters.
                    </div>
                  </div>
                </label>
                <input
                  formControlName="fatherName"
                  type="text"
                  maxlength="20"
                  class="mt-1 block w-full rounded-md bg-gray-50 border border-gray-300 shadow-inner focus:border-orange-500 focus:ring focus:ring-orange-500/50 sm:text-sm p-2.5 transition ease-in-out duration-150"
                  placeholder=""
                />
              </div>
            </div>

            <div class="flex justify-end pt-4">
              <button
                (click)="next()"
                type="button"
                class="px-6 py-2 border border-gray-300 text-gray-700 rounded-md shadow-md bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 text-base font-medium"
              >
                Next
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>
</div>
